<p id="notice"><%= notice %></p>

<h1>Users</h1>

<%= link_to 'Microposts', microposts_path, class:"w3-button w3-round-large w3-pink" %>
<%= link_to 'Create a New Micropost', new_micropost_path, class:"w3-button w3-round-large w3-pink" %>
<%= link_to 'New User', new_user_path, class:"w3-button w3-round-large w3-pink" %>
<br>
<br>
<table class="w3-table-all">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user, class: "w3-button w3-round-large w3-green" %></td>
        <td><%= link_to 'Edit', edit_user_path(user),class: "w3-button w3-round-large w3-blue" %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } ,class: "w3-button w3-round-large w3-red"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

