<h1>About</h1>
<%= link_to 'Users', users_path, class:"w3-button w3-round-large w3-pink" %>
<%= link_to 'Create a New Micropost', new_micropost_path ,class: "w3-button w3-round-large w3-pink"%>
<%= link_to 'New User', new_user_path, class:"w3-button w3-round-large w3-pink" %>
<%= link_to 'Home', my_pages_home_path, class:"w3-button w3-round-large w3-pink" %>
<%= link_to 'Help', my_pages_help_path, class:"w3-button w3-round-large w3-pink" %>
<p><h4>Throughout this web application one can notice key, modern features enhancing navigation such as buttons and tables.  
These were utilized through W3.CSS, a framework from W3 Schools, very similar to the Bootstrap framework, although lighter and 
easier to work with for beginners. </h4> </p>
<p><h4>One can also see this in the referencing to W3 classes in the links to other pages, utilziing colored buttons for simplicity in navigating the application</h4></p>
<p><h4>In this application, there has been freqent use of both W3 Schools and the "Agile Web Development" textbook.
As well, the "rails tutorial" was selected when initially setting up the workspace, with rails guides proving helpful in trouble-shooting errors.</h4></p>
<img src="https://cdn.codementor.io/assets/topic/category_header/ruby-on-rails-bc9ab2af8d92eb4e7eb3211d548a09ad.png" alt="Rails";>